---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro'
import CardWrapper from '@components/module/CardWrapper.astro'
import IllustPost from '@components/IllustPost.astro'

import yagi from '../assets/illusts/yagi_comp.png'
import iconGal from '../assets/illusts/icon_gllasgirl.png';
import iconNatuGirl from '../assets/illusts/icon_simple_woman01.png';
import iconGeek from '../assets/illusts/iconpic_boy_python.png';
import OniAkuma from '../assets/illusts/20201021.jpg';
import TukiUsagi from '../assets/illusts/77070552_p0.png';

const pageTitle = 'Illust'
---

<BaseLayout pageTitle={pageTitle} desc="イラストの紹介です。"> 

  <p>納品後データが消失したため趣味イラストばかりになっています。すみません。</p>

  <CardWrapper style="flex-wrap justify-around not-prose gap-4">
    <IllustPost src={yagi} alt='山羊座' />
    <IllustPost src={iconGal} alt='夏' />
    <IllustPost src={iconGeek} alt='ぱいそん' />
    <IllustPost src={iconNatuGirl} alt='ナチュラル' />
    <IllustPost src={OniAkuma} alt='悪魔' />
    <IllustPost src={TukiUsagi} alt='月にうさぎ' />
  </CardWrapper>

</BaseLayout>
 
