---
const { title, url ,tags , pubDate } = Astro.props

    function getIconClass(tags) {
  if (tags.includes('Web')) {
    return 'fa-globe'; // アイコンを表示するためのクラス名
  } else if (tags.includes('UnderFloor')) {
    return 'fa-house';
  }
   else if (tags.includes('MyHome')) {
    return 'fa-house';
  } else if (tags.includes('Electronics')) {
    return 'fa-bolt';
  }
   else if (tags.includes('Electronics-SmartHome')) {
    return 'fa-bolt';
  }
   else if (tags.includes('Life')) {
    return 'fa-heart';
  }
  else if (tags.includes('DIY')) {
    return 'fa-wrench';
  } else if (tags.includes('Blog')) {
    return 'fa-book';
  } else {
    return 'fa-ellipsis'; // デフォルトのアイコン
  }
}


---


<li class="not-prose list-none p-2 odd:bg-slate-100 dark:odd:bg-slate-900"><i class=`fas ${getIconClass(tags)} inline-block mr-3`></i><a class="leading-5 hover:text-blue-600 dark:text-slate-300" href={`/${url}`}>{title}</a><div class="postInfo flex justify-end">
  <div class="tags">{ tags && tags.sort().map((tag) => (<a class="mx-1 inline-block rounded border p-1 text-xs leading-none text-slate-400 no-underline hover:bg-slate-400 hover:text-slate-50 dark:border-slate-600" href={`/tags/${tag}`}>{tag}</a>)) }</div>
  <div class=" no-wrap flex items-center text-slate-400"><i class=`fa-regular fa-clock inline-block mr-1 ml-3`></i><span class="text-xs">{pubDate.toLocaleDateString()}</span></div>
</div>
</li>
