---
const { title, url ,tags,pubDate } = Astro.props

    function getIconClass(tags) {
  if (tags.includes('Web')) {
    return 'fa-globe'; // アイコンを表示するためのクラス名
  } else if (tags.includes('UnderFloor')) {
    return 'fa-house';
  }
   else if (tags.includes('MyHome')) {
    return 'fa-house';
  } else if (tags.includes('Electronics')) {
    return 'fa-bolt';
  }
   else if (tags.includes('Electronics-SmartHome')) {
    return 'fa-bolt';
  }
   else if (tags.includes('Life')) {
    return 'fa-heart';
  }
  else if (tags.includes('DIY')) {
    return 'fa-wrench';
  } else if (tags.includes('Blog')) {
    return 'fa-book';
  } else {
    return 'fa-ellipsis'; // デフォルトのアイコン
  }
}
---


<li class="p-2 list-none odd:bg-slate-100"><i class=`fas ${getIconClass(tags)} inline-block mr-3`></i><a class="leading-5" href={url}>{title}</a><div class="postInfo flex justify-end">
  <div class="tags">{ tags && tags.sort().map((tag) => (<a class="tag text-xs text-slate-400 leading-none inline-block border rounded mx-1 p-1 no-underline" href={`/tags/${tag}`}>{tag}</a>)) }</div>
  <div class=" text-slate-400 flex no-wrap items-center"><i class=`fas fa-clock inline-block mr-1 ml-3`></i>{pubDate.toLocaleDateString()}</div>
</div>
</li>
