---
import ItemList from '@components/module/ItemList.astro'

const navStyle = 'fixed flex space-between max-w-screen-sm mx-auto md:justify-center flex-col md:flex-row items-start z-10 translate-x-full duration-200 min-h-full right-0 top-0 pt-20  px-8 md:flex md:w-full md:relative md:min-h-fit md:py-4 md:px-0 md:translate-x-0 bg-slate-600 dark:bg-slate-900 uppercase'

const menuItemStyle = 'px-4 text-lg md:text-xl text-slate-100 dark:text-slate-200 hover:text-slate-500 dark:hover:text-slate-600 transition-colors duration-300 mb-2 md:mb-0 '

const menuDropItemStyle = 'text-slate-400  dark:text-slate-400 '
---



<div id="navLinks" class={navStyle}>
  <ul class="flex flex-col items-start justify-between gap-5 md:flex-row">
    <ItemList url="/about/" title="About" style={menuItemStyle} />
    <ItemList url="/blog/" title="Blog" style={menuItemStyle} >
      <ul>    
        <ItemList url="/tags/" title="Tags" style={ menuItemStyle + menuDropItemStyle} />
      </ul>
    </ItemList>   
    
    <ItemList url="/works/" title="Works" style={menuItemStyle} />
    <ItemList url="/contact/" title="Contact" style={menuItemStyle} />
    <ItemList url="/privacy-policy/" title="Policy" style={menuItemStyle} />
  </ul>
</div>
