---
import { AstroSeo } from '@astrolib/seo';
import SchemaJson from '@components/SchemaJson.astro';
import Analytics from '@components/ads/Analytics.astro'
import 'modern-css-reset'
import '../styles/global.css'
import '../styles/hamburger-menu.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { Breadcrumbs } from "astro-breadcrumbs";
import SocialShare from '@components/SocialShare.astro';
import "astro-breadcrumbs/breadcrumbs.css";
import "../styles/breadcrumbs.scss"

const sitePath = Astro.site;
const siteName = import.meta.env.SITE_NAME
const pagePath=Astro.url.pathname
const isIndexPage = Astro.url.pathname === "/";
const { pageTitle,schema,desc,eyecatch,pubDate,upDate} = Astro.props
const description = desc !== undefined ? desc : ""
const eyecatchPath =  eyecatch?  new URL(eyecatch.src,sitePath).href : ""
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="canonical" href={sitePath + pagePath.slice(1)}>
    <link rel="icon" href={`${sitePath}favicon.ico`} />
    <meta name="viewport" content="width=device-width" />
    {description && <meta name="description" content={description} /> }    
    <title>{isIndexPage ? pageTitle : `${pageTitle}│${siteName}`}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />     
    <link href="/css/fontawesome.min.css" rel="stylesheet" media="print" onload="this.media='all'"/>
    <link href="/css/brands.min.css" rel="stylesheet" media="print" onload="this.media='all'" />
    <link href="/css/solid.min.css" rel="stylesheet" media="print" onload="this.media='all'" />

  <Analytics />

  <SchemaJson pageTitle={pageTitle} schema={schema} eyecatch={eyecatch} pubDate={pubDate} upDate={upDate} desc={desc} />

  <AstroSeo
  openGraph={{
    url:pagePath,
    title: isIndexPage ? pageTitle : `${pageTitle}│${siteName}`,
    description: isIndexPage ?  `Web制作、イラスト制作` : description,
    images: [
      {
        url: eyecatch ? eyecatchPath : `${sitePath}noimage.webp`,
        width: 1920,
        height: 1080,
        alt: pageTitle,
        type: 'image/jpeg',
      },
    ],
    site_name: siteName,
  }}
  twitter={{
    handle: '@caori_st',
    site: '@caori_st',
    cardType: 'summary_large_image',
  }}
/>
  </head>
  <body class="bg-slate-50 font-body text-gray-600 dark:bg-slate-800 dark:text-slate-200 [&_strong]:dark:text-slate-200">
    
    <Header />
    <main>
      
      <Breadcrumbs>      
        <svg
          slot="separator"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </Breadcrumbs>
      <div class="flex flex-col items-center pb-10">
        <h1 class="m-6 max-w-screen-sm border p-6
                    text-center text-2xl uppercase tracking-wide
                    dark:text-slate-200">{pageTitle}</h1>
        <div class="prose prose-slate w-full
                    mx-auto max-w-screen-sm p-6
                    text-slate-600 dark:prose-invert  prose-h2:text-slate-600 prose-a:text-blue-600 prose-strong:text-slate-600 
                    dark:text-slate-300 dark:prose-h2:text-slate-300 dark:prose-a:text-cyan-100">
          <SocialShare />
          <slot />
        </div>
      </div>
    </main>
    <Footer/>
  </body>
  <script>
    import '../scripts/menu.js'
    import '../scripts/link.js'
    import '../scripts/imgLazy.js'
  </script>


</html>
