---
import { AstroSeo } from '@astrolib/seo';
import SchemaJson from '@components/SchemaJson.astro';
import 'modern-css-reset'
import '../styles/global.css'
import '../styles/hamburger-menu.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
import "../styles/breadcrumbs.scss"

const sitePath = Astro.site;
const siteName = import.meta.env.SITE_NAME
const pagePath=Astro.url.pathname
const isIndexPage = Astro.url.pathname === "/";
const { pageTitle,schema,desc,eyecatch,pubDate,upDate} = Astro.props

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>{isIndexPage ? pageTitle : `${pageTitle}│${siteName}`}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

  <SchemaJson pageTitle={pageTitle} schema={schema} eyecatch={eyecatch} pubDate={pubDate} upDate={upDate} />

  <AstroSeo
  title={isIndexPage ? pageTitle : `${pageTitle}│${siteName}`}
  description={`${siteName}│${desc}`}
  canonical={sitePath + pagePath.slice(1)}
  openGraph={{
    url:pagePath,
    title: isIndexPage ? pageTitle : `${pageTitle}│${siteName}`,
    description: 'c-studio',
    images: [
      {
        url: eyecatch ? eyecatch.src : '../assets/images/noimage.png',
        width: 800,
        height: 600,
        alt: 'Og Image Alt',
        type: 'image/jpeg',
      },
      {
        url: 'https://www.example.ie/og-image-02.jpg',
        width: 900,
        height: 800,
        alt: 'Og Image Alt Second',
        type: 'image/jpeg',
      },
      { url: 'https://www.example.ie/og-image-03.jpg' },
      { url: 'https://www.example.ie/og-image-04.jpg' },
    ],
    site_name: siteName,
  }}
  twitter={{
    handle: '@caori_st',
    site: '@caori_st',
    cardType: 'summary_large_image',
  }}
/>
  </head>
  <body class="bg-slate-50 font-body text-gray-600 dark:bg-slate-800 dark:text-slate-200">
    
    <Header />
    <main>
      
      <Breadcrumbs>      
        <svg
          slot="separator"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </Breadcrumbs>
      <div class="flex flex-col items-center pb-10">
        <h1 class="m-6 max-w-screen-sm border p-6
                    text-center text-2xl uppercase tracking-wide
                    dark:text-slate-200">{pageTitle}</h1>
        <div class="prose prose-slate w-full
                    mx-auto max-w-screen-sm p-6
                    text-slate-600 dark:prose-invert  prose-h2:text-slate-600 prose-a:text-blue-600 prose-strong:text-slate-600 
                    dark:text-slate-300 dark:prose-h2:text-slate-300 dark:prose-a:text-cyan-100">
          <slot />
        </div>
      </div>
    </main>
    <Footer/>
  </body>
  <script>
    import '../scripts/menu.js'
    import '../scripts/link.js'
  </script>


</html>
