---
import { Schema } from 'astro-seo-schema'
import 'modern-css-reset'
import '../styles/global.css'
import '../styles/hamburger-menu.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
import "../styles/breadcrumbs.scss"

const { pageTitle, pubDate, upDate} = Astro.props
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>{pageTitle}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="font-body text-gray-600">
    
    <Header />
    <main>
      
    <Breadcrumbs>      
  <svg
    slot="separator"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><polyline points="9 18 15 12 9 6"></polyline>
  </svg>
</Breadcrumbs>
      <div class="text-slate-400 articleWrapper flex items-center flex-col">
        <h1 class="text-2xl font-bold text-center p-6 m-6 border max-w-screen-sm tracking-wide">{pageTitle}</h1>
        <div class="contentWrapper prose prose-base prose-h2:text-cyan-800 prose-h2:text-3xl prose-h3:text-cyan-700 prose-h4:text-cyan-700 p-6 mx-auto max-w-screen-sm">
          <slot />
        </div>
      </div>
    </main>
    <Footer pubDate={pubDate} upDate={upDate} />
  </body>
  <script>
    import '../scripts/menu.js'
    import '../scripts/link.js'
  </script>


  <Schema
    item={{
      '@context': 'https://schema.org',
      '@type': 'WebSite',
      name: 'c-studio',
      url: Astro.site,
    }}
  />
</html>
