---
import BaseLayout from './BaseLayout.astro'
import '../styles/remark-link-card.css'
import { Image } from 'astro:assets'
import noImage from '/src/assets/images/noimage.png'
const { frontmatter } = Astro.props
const blogImageSrc = 'src/content/blog/images/'
---

<BaseLayout pageTitle={frontmatter.title} currentPage={frontmatter.title}>
  <p>著者: {frontmatter.author}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>投稿日：{frontmatter.pubDate.toLocaleDateString()}</p>
  
<div class="slot md">
  <slot />
</div>
</BaseLayout>
