---
import BaseLayout from './BaseLayout.astro'
import '../styles/remark-link-card.css'
import ProfCard from '@components/ProfCard.astro'
import Dates from '@components/Dates.astro'
import PostComments from '@components/PostComments.astro'
import AdsDisplay from '@components/ads/AdsDisplay.astro'
import AdsMulti from '@components/ads/AdsMulti.astro'
import Pr from '@components/Pr.astro'
import LinkSwitch from '@components/ads/LinkSwitch.astro'
import AdsGoogle from '@components/ads/AdsGoogle.jsx'


const { frontmatter  } = Astro.props
const image = frontmatter.image
const pubDate = frontmatter.pubDate
const upDate = frontmatter.upDate
---

<BaseLayout pageTitle={frontmatter.title} currentPage={frontmatter.title} schema="blog" eyecatch={image} pubDate={pubDate} upDate={upDate} isDraft={frontmatter.isDraft}>
  <Pr />
  <img src={image.src} alt={frontmatter.title} width={image.width} height={image.height} class="aspect-auto"/>
  <Dates pubDate={pubDate} upDate={upDate}/>
  
  <AdsDisplay />
<div class="slot md">
  <slot />
</div>
  <AdsMulti />
  <LinkSwitch />
<PostComments />
<ProfCard />
</BaseLayout>

<AdsGoogle client:only="react"/>