---
import BaseLayout from './BaseLayout.astro'
import '../styles/remark-link-card.css'
import ProfCard from '@components/ProfCard.astro'
import CardWrapper from '@components/module/CardWrapper.astro'
import CardInner from '@components/module/CardInner.astro'
import PostComments from '@components/PostComments.astro'
import AdsDisplay from '@components/ads/AdsDisplay.astro'
import AdsMulti from '@components/ads/AdsMulti.astro'

const { frontmatter  } = Astro.props
const image = frontmatter.image
const pubDate = frontmatter.pubDate
const upDate = frontmatter.upDate
---

<BaseLayout pageTitle={frontmatter.title} currentPage={frontmatter.title} schema="blog" eyecatch={image} pubDate={pubDate} upDate={upDate}>
  <img src={image.src} alt={frontmatter.title} width={image.width} height={image.height}/>
  <CardWrapper>
    <CardInner><i class="fa-regular fa-clock"></i> {pubDate.toLocaleDateString()}</CardInner>
    { frontmatter.upDate?<CardInner><i class="fa-solid fa-rotate-right"></i> {upDate.toLocaleDateString()}</CardInner> : ''}
  </CardWrapper>
  
  <AdsDisplay />
<div class="slot md">
  <slot />
</div>
  <AdsMulti />
<PostComments />
<ProfCard />
</BaseLayout>
